*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos generados del informe de implementación
/docs/Informe_Implementacion_Sebas.pdf
/docs/Informe_Implementacion_Sebas.aux
/docs/Informe_Implementacion_Sebas.log
/docs/Informe_Implementacion_Sebas.out
/docs/Informe_Implementacion_Sebas.toc
/docs/Informe_Implementacion_Sebas.fls
/docs/Informe_Implementacion_Sebas.fdb_latexmk
/docs/Informe_Implementacion_Sebas.synctex.gz
